* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://ae01.alicdn.com/kf/HTB18mqqiCcqBKNjSZFgq6x_kXXaZ/Beibehang-Custom-Wallpaper-mural-Book-Library-Bookcase-Magazine-Shelf-Modern-Art-Wall-Painting-Living-Room-study.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
