.titre {
  color: rgb(255, 157, 0);
  text-align: center;
  text-shadow: 0 0 1px rgb(196, 196, 196);
}
.nav-link {
  color: rgb(29, 247, 0);
  font-size: 1.7rem;
  text-shadow: 0 0 1px rgb(196, 196, 196);
}

.nav-link:hover {
  color: rgb(255, 157, 0);
}
